#app{
  min-height:100vh;

  opacity:0;

  transition:
    opacity .8s ease;
}

#app.show{
  opacity:1;
}

.container{
  position:relative;

  width:100%;
  max-width:760px;

  margin:0 auto;

  padding:
    calc(
      22px +
      env(safe-area-inset-top)
    )
    16px
    130px;
}
